.post__image{
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
.post__text{
    font-weight:normal ;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    
}
.post__header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    border-top: 1px solid lightgray;
}
.post__avatar{
    margin-right: 10px;
}
.post{
    max-width: 500px;
    background-color: white;
    margin-bottom: 45px;
    border-style: inset;
    
}
.icon__li{
    display: flex;
    padding-left:40px;
    padding-right:40px; 
    margin-top: 20px; 


}
.icon__li:hover{
    color: green;
    cursor: pointer;
    

}